.left-ul{
    width: 200px;
}
.text-size{
    font-size:15pt;
}
.btn-round {
	border-radius: 24px;
	width: 180px;
	background-color:#00aced;
	border:none;
}
.top-margin{
    margin-top: 10px;
}
.left-li{
    margin-top:10px;
}
.active{
    background-color: transparent !important;
    font-weight: bold !important;
    color:black !important;
    margin-top:18px !important;
}

.twt{
   color:#00aced;
}
.margin-left-mid{
    margin-left:-10px;
}

.search-bar{
    width:300pt;
    border-radius: 24px;
    height:30pt;
    background-color: lightgray;
    border:none;
}

.icon-mid{
    color:rgb(128, 128, 128);
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-div{
    margin-top: 7px;
}

.margin-left-mid{
    margin-left:-10px;
}

.font-size-mid{
   font-size: 15px;
}
.grey-text{
    color:rgb(110, 118, 125);
}

.margin-left-mid-more{
    margin-left:-30pt;
}
.less-upper-space{
    margin-top:-10pt;
}
.img-web{
    width:150px;
    high:150px;
    margin-right:-300pt;
}